mport url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

:root {
  --background: rgba(85, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #ccccff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

img {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 0px auto;
}

button {
  display: block;
  margin: 5px auto;
}