@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

:root {
  --background: rgba(128, 128, 255, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #ccccff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

/* Navigation and header */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  width: 50px;
  margin: 0 auto;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 2em;
  border-radius: 2px;
}

nav {
  background: var(--background);
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;  
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav a:hover {
  color: #000;
}

.nav-toggle ~ nav {
  display: block;
}